.main-body::before{
    content: "";
    background-image: url(/public/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    position: absolute;
    top: 5vh;
    left: 0px;
    right: 0px;
    bottom: -75vh;
    z-index: -1;
    margin-left: 5vh;
    margin-right: 5vh;
}
.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.login-form{
    margin:7vh;
}

.write-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    cursor: pointer;
}

.manage-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 15vw;
    cursor: pointer;
}

.signup-button{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    cursor: pointer;
}

.signup-form{
    margin:7vh;
}


.home-project-card{
    width: 10vw;
    min-width: 200px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
    height: 150px;
}

.home-project-card:hover .app-overlay{
    opacity: 1;
}

.app-overlay{
    opacity: 0;
    background: rgba(43,41,41,0.9);
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 767px) {
    .main-body::before{
        margin-left: 0vh;
        margin-right: 0vh;
    }

    .write-button{
        font-size: 12px;
        height: 22px;
        margin-right: 7px;
    }
    
    .manage-button{
        height: 20px;
        width: 20px;
        margin-right: 15vw;
    }
}

@media screen and (max-width: 375px) {
    .home-project-card{
        min-width: 180px;
        margin-top: 50px;
        margin-left: 20px;
        cursor: pointer;
        height: 130px;
    }


}