.main-body::before {
  content: "";
  background-image: url(/public/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
  position: absolute;
  top: 5vh;
  left: 0px;
  right: 0px;
  bottom: -10vh;
  z-index: -1;
  margin-left: 1vw;
  margin-right: 1vw;
}
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.write-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  cursor: pointer;
}

.manage-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 4vw;
  cursor: pointer;
}

.signup-button {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  cursor: pointer;
}

.home-project-body {
  background-color: rgba(255, 255, 255, 0.5);
}

.home-project-card {
  width: 9vw;
  min-width: 200px;
  margin: 25px;
  cursor: pointer;
  height: 15vh;
}

.home-project-card:hover .app-overlay {
  opacity: 1;
}

.app-overlay {
  opacity: 0;
  background: rgba(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
}

.home-carousel {
  text-align: center;
}

.nav-link-container {
  display: flex;
}

.nav-link-container a {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
}

.about-project-card {
  width: 15vw;
  min-width: 200px;
  float: left;
  margin: 20px;
  cursor: pointer;
  height: 17vh;
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 375px) {
  .home-project-card {
    min-width: 180px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
    height: 130px;
  }
}
